body {
    margin: 0;
    padding: 0;
    top: 0;
}

#sidebar {
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: #067527;
    top: 0;
}

#border {
    position: fixed;
    width: 85vw;
    left: 15vw;
    top: 0;
    height: 17vh;
    background-color: #bdc1c7;
    z-index: 1;
}

#logo {
    position: absolute;
    width: 15vw;
    height: 10vw;
    top: -1vw;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

#navbar {
    position: absolute;
    top: 20vh;
    left: 2vw;
}

#borderNav {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}

#border {
    position: fixed;
    width: 85vw;
    left: 15vw;
    top: 0;
    height: 17vh;
    background-color: #bdc1c7;
    z-index: 1;
}

#navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Right-aligned content for user view and notification */
#rightContent {
    display: flex;
    align-items: center;
}

#userView {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#userIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    top: 30px;
    right: 1vw;
}

#userName {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 35px;
    right: 5vw;
}

#notificationBell {
    position: relative;
    margin-right: 20px;
}

#bellIcon {
    position: absolute;
    right: 11vw;
    top: 30px;
    width: 25px;
    height: 25px;
}

#notificationCount {
    position: absolute;
    top: 20px;
    right: 10.5vw;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
}

#searchBar {
    display: flex;
    align-items: center;
}

#searchInput {
    position: absolute;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 20vw;
    right: 17vw;
    top: 30px;
}

#searchButton {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}

#searchButton:hover {
    background-color: #0056b3;
}